{% extends 'index.html' %}

{% block header %}

    <strong>Gitlab</strong>

{% endblock %}

{% block content %}
<section id="users" class="{{ 'hidden' if context.current_tab == 'projects' else '' }}">
  <header class="mb-3">
    <h2>Usuários</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Dono</th>
        <th scope="col">Comits</th>
      </tr>
    </thead>
    <tbody>
      {% for p in context.projects %}
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.owner.name}}</td>
        <td>
            <a href="/gitlab/{{ p.id }}/commits" title="Commits do projeto"{{ p.name }}>
              <i class=" fas fa-book-open">
            </a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
<section id="projects" class="{{ 'hidden' if context.current_tab == 'users' else '' }}">
  <header class="mb-3">
    <h2>Commits</h2>
  </header>
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Autor/th>
        <th scope="col">Menssagem</th>
        <th scope="col">Data</th>
   
      </tr>
    </thead>
    <tbody>
    {% for c in context.commits %}
      <tr>
        <td>{{ c.author_name }}</td>
        <td>{{ c.menssage }}</td>
        <td>{{ c.authored_date }}</td>
    
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}